* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: 100vh; */
    width: 100%;
    margin-top: 15px;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 50px 8%;
    gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#btn{
    width: 100%;
    background-color: #0BBBC7;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.input-style{
    border: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gallery-container{
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    width: 100%;
    margin-top: 35px;
    gap: 20px;
    flex-wrap: wrap;



}

.itemsDiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.textDiv{
    padding: 15px;
}

.trash-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    padding: 10px;
    align-self: flex-end;


}

/* .fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
} */


.fa-solid, .fa-xmark {
    pointer-events: none;

}

